*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track {
   
    background-color: black;
    
    
  }
::-webkit-scrollbar-thumb{
    background-color: aliceblue;
    width: 5px;
    border-radius: 10px;
    
}


.category-btn{
    border-radius: 20px !important;
    justify-content: start !important;
    margin: 10px 0 !important;
    transition: all .3s !important;
    color: white !important;
    
    
}

.category-btn-container::-webkit-scrollbar{
    display:none !important;
}
/* .category-btn ::-webkit-scrollbar-track{
    display: none;
} */
.category-btn span{
    margin: 0 2px;
    
}

.category-btn:hover span{
    color: white !important;
}

.category-btn:hover{
    background-color: #FC1503 !important;
}

.react-player{
    height: 45vh !important;
}


  @media screen and (max-width: 900px){
    .search-bar {
        width: 200px !important;
        padding: 0 !important;
    }
    .category-btn{
        
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 0 50px !important;
    }
    .category-btn span{
        font-size: 12px;
       
        
    }
    /* .search-icon{
       width: 20px !important;
        
    } */
    }
  
